<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onLogin()" >
    <p>
        <label for="email">帳號：</label>
        <input  type="email" id="email" name="email" formControlName="email" ngModel>
        <app-message-err *ngIf="!formGroup.valid && (formGroup.dirty || formGroup.touched)" [element]="getErrorMessage('email')"></app-message-err>
    </p>
    <p>
        <label for="password">密碼：</label>
        <input type="password" id="password" nmae="password" formControlName="password" ngModel>
        <app-message-err *ngIf="!formGroup.valid && (formGroup.dirty || formGroup.touched)" [element]="getErrorMessage('password')"></app-message-err>
    </p>
    <p>
        <button type="submit">Log in</button>
    </p>
    <p>{{formGroup.value | json}}</p> 
    <!-- //預覽資料狀況 -->
</form>