form {
  box-sizing   : border-box;
  width        : 300px;
  height       : 300px;
  margin       : 20px;
  padding      : 20px;
  border       : 1px solid #bbb;
  border-radius: 4px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}
