$theme-config:(light:(--bg : #fff,
        --font : #333,
        --header : rgb(98, 141, 242),
        --wrapper : #ededed,
        --footer : #bbb,
        --page : #fff,
        --err : darkred,
    ), dark:(--bg : #333,
        --font : #fff,
        --header : rgb(78, 110, 184),
        --wrapper : #888,
        --footer : #333,
        --page : #bbb,
        --err : rgb(222, 99, 99),
    ), );

@each $name,
$value in $theme-config {
    :root {
        .#{$name}{
            @each $keyj,$valuej in $value {
                #{$keyj}:$valuej;
            }
        }
    }
}

// @mixin styleList($content) {}


// 333, #fff, rgb(78, 110, 184), #888, #333, #bbb, rgb(222, 99, 99)


// :root {
//     @include name();
// }