$bg-light      : #fff;
$font-light    : #333;
$header-light  : rgb(98, 141, 242);
$wrapper-light :#ededed;
$footer-light  :#bbb;
$page-light    : #fff;
$err-light     : darkred;
$abc-light     : green;

$bg-dark      : #333;
$font-dark    : #fff;
$header-dark  : rgb(98, 141, 242);
$wrapper-dark : #888;
$footer-dark  : #333;
$page-dark    : #bbb;
$err-dark     : rgb(222, 99, 99);

$light-theme-config:(light:(--bg : $bg-light,
        --font :$font-light,
        --header :$header-light,
        --wrapper :$wrapper-light,
        --footer :$footer-light,
        --page :$page-light,
        --err :$err-light,
        --abc:$abc-light), );
$dark-theme-config:(dark:(--bg : $bg-dark,
        --font :$font-dark,
        --header :$header-dark ,
        --wrapper :$wrapper-dark,
        --footer :$footer-dark,
        --page :$page-dark ,
        --err :$err-dark,
    ), );



//存成另一個變數  動態變數
:root {
    $light: map-merge($light-theme-config, $dark-theme-config);
    @each $theme,
    $colorMap in $light {
        .#{$theme} {
            @each $colorKey,
            $colorValue in $colorMap {
                #{$colorKey}: $colorValue;
            }
        }
    }
}

p {
    color: var(--abc);
}