button {
  margin       : 2px;
  padding      : 4px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
}

//預設
.btn {
  &-default {
    border          : 2px solid lightVar(--defaultBtnBorder);
    background-color: lightVar(--defaultBtnBg);

    &:hover {
      color           : #fff;
      background-color: lightVar(--defaultBtnBorder);
    }
  }

  //取消
  &-cancel {
    background-color: #bbb;
    color           : #fff;
    border          : none;

    &:hover {
      background-color: #888;
    }
  }

  //編輯
  &-edit {
    background-color: rgb(255, 216, 116);
    border          : none;

    &:hover {
      background-color: rgb(227, 184, 73);
    }
  }

  //送出
  &-sucess {
    background-color: rgb(77, 141, 42);
    color           : #fff;
    border          : none;

    &:hover {
      background-color: rgb(61, 109, 35);

    }
  }
}
