.page-body{
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.err{
    color: darkred;
    height: 24x;
    line-height: 24px;
    font-size: 14px;
}