$bg               : --bg;
$font             : --font;
$header           : --header;
$wrapper          : --wrapper;
$footer           : --footer;
$page             : --page;
$err              : --err;
$abc              : --abc;
$defaultBtnBorder : --defaultBtnBorder;
$defaultBtnBg     : --defaultBtnBg;

$light-theme-config:(light:($bg : #fff,
    $font : #333,
    $header :rgb(76, 167, 252),
    $wrapper : #ededed,
    $footer : #bbb,
    $page : #fff,
    $err : darkred,
    $defaultBtnBorder:rgb(60, 121, 178),
    $defaultBtnBg:#fff,
    $abc:green), );

$dark-theme-config:(dark:($bg : #333,
    $font : #fff,
    $header : rgb(78, 110, 184),
    $wrapper : #888,
    $footer : #333,
    $page : #bbb,
    $err : rgb(222, 99, 99),
    $defaultBtnBorder:rgb(99, 187, 238),
    $defaultBtnBg:#fff,
  ), );

//存成另一個變數  動態變數
:root {
  $light: map-merge($light-theme-config, $dark-theme-config);
  @each $theme,
  $colorMap in $light {
    .#{$theme} {

      @each $colorKey,
      $colorValue in $colorMap {
        #{$colorKey}: $colorValue;
      }
    }
  }
}


